//$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  //font: 100% $font-stack;
  color: $primary-color;
}

.appboxInactive {

  //box-shadow: none !important;
}

.appboxActive {
  //box-shadow:0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24) !important;
}

.app-box {
  position: relative;
  .config-button {
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
  }
}