.headerTab {
  padding-left:30px;
  padding-right:30px;
  background-color:#FFFFFF;
}

.headerSVG {
  height: 64px;
}

.logo{
  text-align:center;
}

.center{
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}