@import '{reywood:bootstrap3-sass}/bootstrap';

.black {
  color: black
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

