.vertical-center {
  position: relative !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

/*Image vertically align center*/
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  .vertial-middle {
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;
  }
}

/******************************/

//Overwrite bootstrap style for join page
.control-label {
  font-weight: 300;
}

#phoneUsername{
  //width:100%;
  span{
    span.ant-select-selection--single{
      height:38px;
      border-radius:5px 0px 0px 5px;
      border-right-width:0px;
      span.ant-select-selection__rendered{
        line-height:36px;
      }
    }

  }
}